<!-- 博文的布局-Layout -->
<!DOCTYPE html>
<html>
<head>
<!-- 引入head标签 -->
{% include head.html %}
{% include androidColor.html %}
</head>
<body>

  <script src="https://unpkg.com/scrollnav@3.0.1/dist/scrollnav.min.umd.js"></script>

  <script>
      const ct = document.querySelector('.post-content');  //".post-content"指向文章内容所在的div，需根据实际情况修改
      scrollnav.init(ct, { 
          debug: false,
          easingStyle: 'linear',
          //section为一级目录，subsection为二级目录
          //以下两行意为h3为一级目录，h4为二级目录（个人只需要一级目录，所以注释了二级目录）
          sections: ($('.post-content > h1').length>0) ? 'h3' : 'h4',  
          //subSections: ($('.post-content > h1').length>0) ? 'h4' : 'h5',
      });
  </script>
  
<!-- 顶部锚点 -->
<a id="htmlup" name="htmlup"></a>
<!-- 引入博文顶部选项 -->
{% include post-header.html %}
<!-- 引入移动下拉选项 -->
{% include boot.html %}
<!-- 引入博文顶部样式 -->
{% include post-title.html %}
<div class="markdown-body fadeInUp animated">

  {% if page.subtitle %}
    {% if page.color.size==0 or page.color==nil %}
      <div class="postpage-subtitle" style="border-left: 8px solid #9A85FF; border-right: 8px solid #9A85FF;">
        {{ page.subtitle }}
      </div>
    {% else %}
      <div class="postpage-subtitle" style="border-left: 8px solid {{ page.color }}; border-right: 8px solid {{ page.color }}">
        {{ page.subtitle }}
      </div>
    {% endif %}
  {% endif %}

  <!-- 文章内容 -->
  {{ page.content }}
  <!-- 引入share模块 -->
  {% include share.html %}
</div>

<!-- 底部锚点 -->
<a id="htmldown" name="htmldown"></a>
<!-- 引入评论模块 -->
{% include comment.html %}
<!-- 引入goto模块 -->
{% include goto.html %}
<!-- 引入页面底部模块 -->
{% include footer.html %}

<!-- 引用wow.js的动画效果 -->
<script src="/assets/js/wow.js"></script>
<script>
    var wow = new WOW({
        boxClass: 'wow',
        animateClass: 'animated',
        // offset: 600,
        mobile: true,
        live: true
    });
    wow.init();
</script>
<!-- 页面刷新回到顶部 -->
<script>
    window.onbeforeunload = function(){
        //刷新后页面自动回到顶部
        document.documentElement.scrollTop = 0;  //ie下
        document.body.scrollTop = 0;  //非ie
    }
</script>
<script src="/assets/js/main.js"></script>
</body>
</html>
